// Remote deps
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

// Local deps
@import '~purecss/build/base-min.css'
@import '~purecss/build/forms-min.css'
@import '~purecss/build/grids-min.css'
@import '~purecss/build/grids-responsive-min.css'
