@import "globals"
@import "base"

// Make helper classes for colors
$colors = ('black' $color-black),
  ('white' $color-white),
  ('gray' $color-gray),
  ('accent-1' $color-accent-1),
  ('accent-2' $color-accent-2)

for $color in $colors
  .bg-{$color[0]}
    background-color $color[1]

  .color-{$color[0]}
    color $color[1]
